<!DOCTYPE html>
<!-- Coding By CodingNepal - codingnepalweb.com -->
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Login & Registration Form</title>
        <link rel="stylesheet" href="../stylesheets/style.css">
    </head>
    <body>
        <div class="container">
        <% if(session.user_id) { %>
            <div class="logged-in-container">
                <h1 class="logged-in-label">Welcome, Player</h1>
                <a href="/users/logout" class="request">Log out</a>
                <form method="post" action="/pokergameplay/game">
                    <input type="submit" class="request" value="Start Game" />
                </form>
                <form method="post" action="/pokergameplay/joingame">
                    <div class="mb-3">
                        <label>Join Game Code:</label>
                        <input type="text" name="user_game_id" class="join-code" />
                    </div>
                    <div class="mb-3">
                        <input type="submit" class="request" value="Join" />
                    </div>
                </form>
            </div>

        <% } else { %>
            <input type="checkbox" id="check">
            <div class="login form">
                <header>Log In</header>
                <form method="post" action="/users/login">
                    <input type="email" name="user_email_address" placeholder="Enter your email">
                    <input type="password" name="user_password" placeholder="Enter your password">
                    <a href="#">Forgot password?</a>
                    <input type="submit" class="button" value="Log In">
                </form>
                <div class="signup">
                    <span class="signup">Don't have an account?
                        <label for="check">Sign up</label>
                    </span>
                </div>
            </div>
            <div class="registration form">
                <header>Sign Up</header>
                <form method="post" action="/users/signup">
                    <input type="email" name="user_email_address" placeholder="Enter your email">
                    <input type="password" name="user_password" placeholder="Create a password">
                    <input type="password" name="user_repeat_password" placeholder="Confirm your password">
                    <input type="submit" class="button" value="Sign Up">
                </form>
                <div class="signup">
                    <span class="signup">Already have an account?
                        <label for="check">Log In</label>
                    </span>
                </div>
            </div>
        <% } %>
        </div>
    </body>
</html>